  <div class="thumbnail">
	<a href = '/video/city/{{objectId}}' title="Play Timelapse of {{city_name}}">
		{{#if vimeo}}
		<div class="videoThumbnail sourceVimeo" style="background-image: url({{image_url}})"></div>
		{{/if}}
		{{#if youtube}}
		<div class="videoThumbnail sourceYoutube" style="background-image: url('http://img.youtube.com/vi/{{VideoID}}/0.jpg')"></div>
		{{/if}}	
		<h4 class="thumbText">{{city_name}}<br>{{country_name}}</h4>
		<div class="play_button">
		Play
		</div>
  	<p class="by">By {{author}}</p>

	</a>
</div>
