<div class="thumbnail related">
	<a href = '/video/{{objectId}}'>
		{{#if vimeo}}
		<img src='{{image_url}}'  width="100%">
		{{/if}}
		{{#if youtube}}
		<img src='http://img.youtube.com/vi/{{VideoID}}/0.jpg' width="100%">
		{{/if}}	
		<h4>{{city_name}}, {{country_name}}</h4>
  	<p>By {{author}}</p>
	</a>

</div>